{% if course|length < 1 %}
<h2>Course not found</h2>
{% else %}
{% for i in course %}
                    <div class="col-md pb-4 pb-md-7">
                        <!-- Card -->
                        <div class="card border shadow p-2 lift sk-fade ">
                            <!-- Image -->
                            <div class="card-zoom position-relative">
                                <a href="media/{{i.featured_images}}" class="card-img sk-thumbnail img-ratio-3 d-block">
                                    <img class="rounded shadow-light-lg" src="media/{{i.featured_images}}" alt="...">
                                </a>
<!--                                  {% if i.price == 0 %}-->

<!--                                    <ins class="h5 mb-0 text-white">Free</ins>-->


<!--                                {% else %}-->


<!--                                    <ins class="h5 mb-0 text-white">{{i.price}}</ins>-->

<!--                                {% endif %}-->
                            </div>

                            <!-- Footer -->
                            <div class="card-footer px-2 pb-2 mb-1 pt-4 position-relative">
                                <!-- Preheading -->
                                <a href="/course/{{i.slug}}"><span class="mb-1 d-inline-block text-gray-800">{{i.category}}</span></a>
                                <p>{{i.author}}</p>
                                <!-- Heading -->

                            </div>
                        </div>
                    </div>
{% endfor %}
{% endif %}